Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.aux
Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.bbl
Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.blg
Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.log
Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.out
Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.synctex.gz
Mechanics_ROM/documents/Manuscrit chadi.pdf
Mechanics_ROM/documents/kollepara.pdf
greedy_algorithms/code/Navier-Stokes/Offline
greedy_algorithms/code/helmoltz/Offline
greedy_algorithms/code/laplacian/Offline
greedy_algorithms/code/mpich-4.0.2
positive_decomposition/working_doc/pos_proj.aux
positive_decomposition/working_doc/pos_proj.fls
positive_decomposition/working_doc/pos_proj.fdb_latexmk
positive_decomposition/working_doc/pos_proj.synctex.gz
positive_decomposition/working_doc/pos_proj.log
UM6P
greedy_algorithms/code/laplacian/Offline
greedy_algorithms/code/helmoltz/Offline
greedy_algorithms/code/Navier-Stokes/Offline
greedy_algorithms/code/mpich-4.0.2
Mechanics_ROM/documents/git_operations.txt:1
Mechanics_ROM/documents/git_operations.txt