/home/benaceur/Documents/Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.aux
/home/benaceur/Documents/Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.bbl
/home/benaceur/Documents/Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.blg
/home/benaceur/Documents/Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.log
/home/benaceur/Documents/Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.out
/home/benaceur/Documents/Mechanics_ROM/documents/sujet_stage_ROM_2025/internship_proposal.synctex.gz
/home/benaceur/Documents/Mechanics_ROM/documents/Manuscrit chadi.pdf
/home/benaceur/Documents/Mechanics_ROM/documents/kollepara.pdf
/home/benaceur/Documents/UM6P/UM6P
/home/benaceur/Documents/greedy_algorithms/code/Navier-Stokes/Offline
/home/benaceur/Documents/greedy_algorithms/code/helmoltz/Offline
/home/benaceur/Documents/greedy_algorithms/code/laplacian/Offline
/home/benaceur/Documents/greedy_algorithms/code/mpich-4.0.2
/home/benaceur/Documents/positive_decomposition/working_doc/pos_proj.aux
/home/benaceur/Documents/positive_decomposition/working_doc/pos_proj.fls
/home/benaceur/Documents/positive_decomposition/working_doc/pos_proj.fdb_latexmk
/home/benaceur/Documents/positive_decomposition/working_doc/pos_proj.synctex.gz
/home/benaceur/Documents/positive_decomposition/working_doc/pos_proj.log